<div class="col-md-4 mb-4">
    <div class="card">
        <img
                src="{{ product.image1.url }}"
                class="card-img-top"
                alt="{{ product.name }}"
                style="height: 300px; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="text-muted">Категория: {{ product.category.name }}</p>
            <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
</div>