{% extends 'products/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container">
    <section class="mb-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for image in images %}
                <button
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"
                        aria-current="{% if forloop.first %}true{% endif %}"
                        aria-label="Slide {{ forloop.counter }}">
                </button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for image in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img
                            src="{{ image.image.url }}"
                            class="d-block w-100"
                            alt="{{ image.short_caption }}"
                            style="width: 900px; height: 700px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="color: black;">{{ image.short_caption }}</h5>
                        <p style="color: black;">{{ image.full_description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="container">
            <section class="mb-5">
                <h2 class="text-center mb-4 my-4">Товары по категориям</h2>
                <div class="row">
                    {% for category, product in products_by_category.items %}
                    {% include 'components/_products-card.html' %}
                    {% endfor %}
                </div>
            </section>
        </div>


    </section>
</div>
{% endblock %}
