{% extends 'products/base.html' %}

{% block title %}
Страница поиска
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Результаты поиска:</h1>
    <div class="row row-gap-3">
        <!--|-->
        {% for product in products %}
        {% include 'components/_products-card.html' %}
        {% empty %}
        <h2 class="text-center">
            Ничего не найдено: <b>{{ query }}</b>
        </h2>
        {% endfor %}
    </div>
</div>
{% endblock %}