{% extends 'products/base.html' %}

{% block title %}
Корзина
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Корзина</h2>
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ item.product.image1.url }}" class="card-img-top" alt="{{ item.product.name }}" style="height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.product.name }}</h5>
                    <p class="text-muted">Категория: {{ item.product.category.name }}</p>
                    <p class="card-text"><strong>Цена:</strong> {{ item.product.price }} $</p>

                    <form action="{% url 'update_cart_item' item.pk 'decrease' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">-</button>
                    </form>
                    <span>{{ item.quantity }}</span>
                    <form action="{% url 'update_cart_item' item.pk 'increase' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">+</button>
                    </form>

                    <a href="{% url 'remove_from_cart' item.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <h3 class="text-center">Итого: {{ total_price }} $</h3>
        </div>
    </div>
</div>

{% endblock %}
